*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background: #f5efe6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container{
    background:white;
    border-radius: 1rem; /*16px*/
    box-shadow: 0 10px 30px rbga(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow:hidden;
    border: 2px solid;

}

/* SCREENS */
.screen{
    display: none;
    padding: 2rem;
    text-align:center ;
}


.screen.active{
    display: block;
}

/* START SCREEN */
#start-screen h1{
    color: #e86a33;
    margin-bottom:20px;
    font-size: 2.5rem; /*16 X 2.5 = 40px*/
}

#start-screen p{
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 30px;
}


/* QUIZ SCREEN */
.quiz-header{
    margin-bottom: 2rem;
    background: rgb(243, 243, 180);
}

#question-text{
    color: #333;
    font-size: 1.5rem;  /*24px*/
    margin-bottom: 1rem;
    line-height: 1.4;
    background: #f39393;
}

#quiz-info{
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
 color: #666;
 background: #87d8df;
}

.answers-container{
    background: rgb(242, 152, 194);
    display:flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}
.answer-btn{
    border: none;
    background: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;
    cursor: pointer;
    padding:1rem;
    border-radius: 10px;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover{
    background: #eadbc8;
    border: #dac0ae;
}
.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}
.answer-btn.incorrect{
    background-color:#fff0f0 ;
    border-color: #ffdbbd;
    color: #dc3545;
}

.progress-bar{
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
}

.progress{
    background-color: #e86a33;
    height: 100%;
    width: 50%;
    transition: width 0.3s ease;
}

/* RESULT SCREEN */

#result-screen h1{
    color: #e86a33;
    margin-bottom: 30px;
}

.result-info{
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;

}
.result-info p{
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
#result-message{
    color: #e86a33;
    font-size: 1.5rem;
    font-weight: 600;
}
button{
    border: none;
    background-color: #e86a33;
    color: white;
    font-size: 1.1rem;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #d45b28;
}

/* RESPONSIVE DESIGN */
@media(max-width:500px){
    #start-screen h1{
        font-size: 2rem;
    }

    #question-text{
        font-size: 1.3rem;
    }
    .answer-btn{
        padding: 12px;
    }
    button{
        font-size: 1rem;
        padding: 12px 25px;
    }
        


}